python-dateutil
graphistry[ai]
karateclub
-f https://github.com/benedekrozemberczki/littleballoffur.git
networkit
networkx
numpy
pandas
pyg-library
pytorch-lightning
requests
seaborn
torch
torch_geometric
